:root {
    --color-1: #052548;
    --color-2: #EBEEF3;
    --color-3: #34495E;
    --color-4: #BD965B;
  }
h1{
  color:#BD965B;
}
table{
  border-style:groove;

}
th{
  color:#BD965B;
text-shadow: 1.2px 1.2px #34495E ;
  font-size: x-large;
}
td{
  color:#34495E;
}
a {
  color:#BD965B;
  text-decoration:none;  
  cursor:default;
}
a:hover {
  color:#34495E;
  }

#info{
  cursor:-webkit-zoom-in;
}


button {
    display: block;
    padding: 1rem 2.5rem;
    background:var(--color-1); 
    background: -webkit-linear-gradient(to right, var(--color-1), var(--color-3));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--color-1), var(--color-3)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #EBEEF3 !important;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease-out;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
  }
  
  button span {
    position: relative;
    z-index: 2;
  }

  button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--color-4); 
    transition: all .35s;
    border-radius: 5px;
    outline:none;
  }
  button:hover {
    color:#EBEEF3 !important;
  }

  button:hover:after {
    width: 100%;
  }
