:root {
    --color-1: #052548;
    --color-2: #EBEEF3;
    --color-3: #34495E;
    --color-4: #BD965B;
  }
body{
  -webkit-tap-highlight-color: #BD965B !important;
}
h1{
  color:#BD965B;
}
table{
  border-style:groove;

}
th{
  color:#BD965B;
  text-shadow: 1.2px 1.2px #34495E ;
  font-size: x-large;
}
td{
  color:#34495E;
}
a {
  color:#BD965B;
  text-decoration:none;  
  cursor:default;
}
a:hover {
  color:#34495E;
  }
#phone{
  color:#34495E;
  text-decoration:none;  
  cursor:default;
}
#phone:hover{
  color:#BD965B;
}
#info{
  cursor:-webkit-zoom-in;
}
#delete{
  height: auto;
}
.page-link {
  color: #BD965B;
  text-decoration: none;
  background-color: #34495E;
}
  .btn{
    color:#BD965B;
    border-color: #BD965B;
    background-color: #EBEEF3;
  }
  button:hover {
    color:  #EBEEF3!important;
    background-color: #BD965B;
  }

  #pagination{
    color:#BD965B !important;
    border-color: #BD965B;
    background-color: #EBEEF3 !important;
  }
  #pagination:hover{
    background-color: #BD965B !important;
    color: #EBEEF3 !important;
  }
input{
  color:#BD965B;
  border-color: #BD965B;
  border-style:solid;
  border-radius:5px;
  margin-bottom: 1px;
  height: 35px;
}

#search:hover{
  background-color: #fff;

}


